<div class="col-md-8 col-md-offset-2 center">
  <table class="table table-strip">
    <thead>
      <tr class="success">
        <th class="center"><%= t "単語" %></th>
        <th class="center"><%= t "意味" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @words %>    
    </tbody>
  </table>
</div>
<%= will_paginate %>